.root {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 5px;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 10px;
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.container {
    text-align: center;
}

button {
    display: inline;
    padding: 1rem 1rem;
}


a {
    text-decoration: none;
}

